<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

		<h1 class="tcenter">All Available Jobs</h1>

		<% @jobs.each do |job| %>
			<h2><%= link_to job.title , job_path(job) %></h2>
			<p><%= job.company %></p>
		<% end %>

	</div>
</div>