<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <nav class ="navbar navbar-default">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-links-main">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Job Board" , root_path , class: "navbar-brand" %>
      </div>

      <!--Collect Navbar Dropdown Links-->
      <div class="collapse navbar-collapse" id="toggle-links-main">

        <ul class="nav navbar-nav navbar-right">            

          <li><%= link_to "Post a Job" , new_job_path , class: "tcenter" %></li>
              
          <li class="dropdown">
            <a href="#" class="dropdown-toggle tcenter" data-toggle="dropdown" role="button" aria-expanded="false">Job Categories<span class="caret"></span></a>
            <ul class="dropdown-menu tcenter" role="menu">
              <% Category.all.each do |category| %>
                <li><%= link_to category.name , jobs_path(category: category.name) %></li>
              <% end %>
            </ul>
          </li>

        </ul>

      </div>

    </nav>

    <% flash.each do |name,msg| %>
      <%= content_tag(:div,msg, class: "alert alert-info") %>
    <% end %>

  </div>

</div>